@charset "UTF-8";

:root{
    --cor0:#d1f6bf;
    --cor1:#FCB70A;
    --cor2:#E62315;
    --cor3:#7A32FC;
    --cor4:#20E8F7;
    --cor5:rgb(202, 202, 202);

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue';
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

main p{
    margin: 15px 0px;
    text-align: justify;
}

header{
    background-color: green;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: deeppink;
    font-family: fantasy;
    margin-bottom: 20px;
    font-size: 3em;
}

header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

nav{
    background-color: green;
    padding: 10px;
    box-shadow: 0px 7px 7px black;
}

nav > a{
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 5s;
}

nav > a:hover{
    background-color: rgb(93, 244, 93);
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 0px rgb(0, 0, 0);
    border-radius: 10px;

}

main h1{
    color: var(--cor5);
}

main h2{
    font-family: var(--fonte-destaque);
    color: coral;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1em;
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

footer{
    background-color: darkblue;
    color: white;
}



